{% load static %}

<article class="post">
    <a href="{% url "post-detail-page" post.slug %}">
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}"/>
        {% else %}
            <div class="post__fallback-image"></div>
        {% endif %}
        <div class="post__content">
            <h3>{{ post.title }}</h3>
            <p class="post__meta">
                By {{ post.author|title }} on <time datetime="{{ post.date|date:"Y-m-d" }}">{{ post.date|date:"F d, Y" }}</time>
            </p>
            <p class="post__excerpt">
                {{ post.excerpt }}
            </p>
            <div class="post__tags">
                {% for tag in post.tags.all %}
                    <span>#{{ tag.caption }}</span>
                {% endfor %}
            </div>
        </div>
    </a>
</article> 