{% extends "base.html" %}
{% load static %}

{% block title %}
    My Resume
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "resume/index.css" %}" />
{% endblock %}

{% block content %}
    <section id="header">
        <header>
            <img src="{% static "resume/images/formal.jfif" %}" alt="alt"/>
            <div class="personal-info">
                <h1>{{ personal_info.first_name }} {{ personal_info.last_name }}</h1>
                <h3>{{ personal_info.title }}</h3>
                <h2>Phone</h2>
                <p>{{ personal_info.phone_number }}</p>
                <h2>Email</h2>
                <p>{{ personal_info.email }}</p>
                <h2>Address</h2>
                <p>{{ personal_info.address }}</p>
            </div>
        </header>
    </section>

    <section id="summary">
        <h2>Summary</h2>
        <p>{{ personal_info.summary }}</p>
    </section>

    <section id="experience">
        <h2>Experience</h2>
        <ul>
            {% for experience in experiences %}
                <a href="{% url "work-experience" experience.id %}">
                    <li class="job">
                        <b>{{ experience.title }}</b><br>
                        {{ experience.company }} <br>
                        {{ experience.start_date }} to 
                        {% if experience.end_date  %}
                            {{ experience.end_date }} 
                        {% else %} 
                            Present 
                        {% endif %}
                    </li>
                </a>
            {% endfor %}
        </ul>
    </section>

    <section id="education">
        <h2>Education</h2>
        <ul>
            {% for education in educations %}
                <a href="{% url "education" education.id %}">
                    <li>
                        <b>{{ education.degree }}</b><br>
                        {{ education.institution }}<br>
                        {{ education.start_date }} to 
                        {% if education.end_date %} 
                            {{ education.end_date }} 
                        {% else %} 
                            Present 
                        {% endif %}
                    </li>
                </a>
            {% endfor %}
        </ul>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{% static "resume/js/section_animation.js" %}"/></script>
{% endblock %}