{% extends "base.html" %}
{% load static %}

{% block title %}
Read Later
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/read-later.css" %}"/>
{% endblock %}

{% block content %}
  <section id="read-later">
    <h2>My Read Later List</h2>
    <ul>
      {% for post in posts %}
        <li>
            <div class="post-item">
                <a href="{% url 'post-detail-page' post.slug %}">{{ post.title }}</a>
                <form action="{% url 'remove-from-read-later' post.slug %}" method="post" class="remove-form">
                    {% csrf_token %}
                    <button type="submit" class="remove-button">Remove</button>
                </form>
            </div>
        </li>
      {% empty %}
        <li>No posts in your read later list.</li>
      {% endfor %}
    </ul>
  </section>
{% endblock %} 